<!-- <div class="panel-header panel-header-sm"></div> -->
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Agregar Platillo</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="formMenu" (submit)="onMenu()">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Plato</label>
                  <input type="text" class="form-control" 
                    placeholder="Nombre del plato" required formControlName="nombre_menu">
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Precio</label>
                  <input type="number" class="form-control" placeholder="$$" required formControlName="precio">
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Tipo de Producto</label><br>
                  <select class="browser-default custom-select" formControlName="id_tipo">
                    <option *ngFor="let tipo of tipoService.viewTipo" value="{{tipo.id_tipo}}">{{tipo.nombre_tipo}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripcion</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Detalla los ingredientes que componen este exquisito platillo" formControlName="descr_menu"></textarea>
                </div>
              </div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-5">
                <div class="form-group">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="./assets/img/image_placeholder.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Imagen del Plato</span>
                        <span class="fileinput-exists">Cambiar</span>
                        <input type="file" (change)="fileMenu($event)" #fileUploader />
                      </span>
                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                          class="fa fa-times"></i> Eliminar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="card-footer">
                <button class="btn btn-fill btn-primary mr-1" type="submit" [disabled]="!formMenu.valid">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Menu de {{ restauranteService.newRest.nombre_rest }}</h5>
        </div>
        <div class="card-body">
          <table class="table table-menu">
            <thead class=" text-primary">
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Tipo</th>
              <th class="text-right">Precio</th>
              <th>Accion</th>
            </thead>
            <tbody>
              <tr *ngFor="let menuRest of viewMenu">
                <td>
                  <div class="img-container">
                    <img src="{{ruta_env}}{{menuRest.imag_menu}}" alt="...">
                  </div>
                </td>
                <td>{{menuRest.nombre_menu}}</td>
                <td>{{menuRest.descr_menu}}</td>
                <td>{{menuRest.tipo_comida.nombre_tipo}}</td>
                <td class="text-right">{{menuRest.precio}}</td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" (click)="open(content, menuRest.id_menu)">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" (click)="eliminarPlato(menuRest.id_menu)">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar: {{viewMenuModal?.nombre_menu}}</h4>   
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> 
  </div>
  <form [formGroup]="formUpdate">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Plato</label>
            <input type="text" class="form-control" 
              placeholder="Nombre del plato" required formControlName="nombre_menu">
          </div>
        </div>
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" placeholder="$$" required formControlName="precio" >
          </div>
        </div>
        <div class="col-md-3 pr-1">
          <div class="form-group">
            <label>Tipo de Producto</label><br>
            <select class="browser-default custom-select" formControlName="id_tipo">
              <option *ngFor="let tipo of tipoService.viewTipo" value="{{tipo.id_tipo}}">{{tipo.nombre_tipo}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 pr-1">
          <label>Estado</label>
          <div class="form-check" >
            <label class="form-check-label" >
              <input class="form-check-input" type="checkbox" [checked]="viewMenuModal?.id_nivel" formControlName="id_nivel">
              <span class="form-check-sign">Activo</span>
            </label>
          </div> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Descripcion</label>
            <textarea rows="4" cols="80" class="form-control" placeholder="Detalla los ingredientes que componen este exquisito platillo" formControlName="descr_menu"></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="form-group">
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-new thumbnail">
                <img src="{{ruta_env}}{{viewMenuModal?.imag_menu}}" alt="...">
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
              <div>
                <span class="btn btn-rose btn-round btn-file">
                  <span class="fileinput-new">Imagen del Plato</span>
                  <span class="fileinput-exists">Cambiar</span>
                  <input type="file" (change)="fileMenu($event)" />
                </span>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                    class="fa fa-times"></i> Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </form>
</ng-template>