<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Pedido</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" required value="{{ usuario.nombre }}">
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Cedula</label>
                  <input type="number" class="form-control" placeholder="cedula" required value="{{ usuario.cedula }}">
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Telefono</label>
                  <input type="number" class="form-control" placeholder="Telefono de contacto" required value="{{ usuario.telefono }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 pr-1 ">
                <div class="form-group">
                  <label>Direccion de envio</label>
                  <input type="text" class="form-control" placeholder="Home Address" required value="{{ usuario.direccion }}">
                </div>
              </div>
            </div>
            <br>
            <div >
              <div class="col-12" >
                  <div class="table-full-width ">
                      <table class="table">
                        <thead class=" text-primary">
                          <th></th>
                          <th>Restaurante</th>
                          <th>Producto</th>
                          <th>Descripcion</th>
                          <th class="text-right">Cantidad</th>
                          <th class="text-right">Precio</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of menu">
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" checked>
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>{{item.restaurante.nombre_rest}}</td>
                            <td>{{item.nombre_menu}}</td>
                            <td>{{item.descr_menu}}</td>
                            <td class="td-actions text-right">
                              <input type="number" class="form-control" min="1" value="1" (keyup)="cantPrecio(item.id_menu)" [(ngModel)]='textoDeInput[item.id_menu]' >
                            </td>
                            <td class="td-actions text-right">{{item.precio}}</td>
                          </tr>
                          <tr>
                            <td colspan="5" class="text-right">total</td>
                            <td>{{sumaTotal}} $$</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="card-footer">
                <button class="btn btn-fill btn-primary mr-1" type="submit" (click)="saveRest()">
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  